.navbar-custom
{
    height: 100%;
    width: 65px;
    display: inline-block;
    background-color: #131F25;
    border-right:1px solid #131F25;
    text-align: center;
    color: white;
    position: fixed;
}
.navbar-custom .header
{
    font-size: 35px;
    padding-top: 10px;
    color: #1F1F1F;
    background-color: #FDCA40;
    padding-bottom: 10px;
    border-bottom: 1px solid #FDCA40;
}

.footer a
{
    color:#EDEDED;
    text-decoration: none;
}
.footer a:hover, .footer a:focus
{
    text-decoration: none;
}

.menu
{
    height: 100%;
    color:#EDEDED;
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu a
{
    color:#EDEDED;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.menu a:hover
{
    text-decoration: none;
}
.menu-item
{
    margin-bottom: 20px;
}
.menu-item i
{
    transition: all 300ms;
}
.menu-item span
{
    font-size: 10px;
    margin-top: 5px;
    transition: all 300ms;
}
.menu-item:hover i, .menu-item:hover span
{
    color:#FF6A6A;
}
.selected{
    color:#FF6A6A;
}